
# Remeber to do:
#
#  systemctl enable systemd-networkd.service systemd-networkd-wait-online.service
#
# Update MY-NAME with the touch screen name you would like to use
#
# In /etc/systemd/network directory add a file named local.network with:
#
# [Match]
# Name=eth0
#
# [Network]
# DHCP=v4
#

[Unit]
Description=BZ-HometoucherPi
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
ExecStart=/home/pi/hometoucher_pi --manager 10.0.99.100:60000 --name MY_NAME
WorkingDirectory=/home/pi
StandardOutput=file:/home/pi/logs/hometoucher_pi.log
StandardError=file:/home/pi/logs/hometoucher_pi.log
Restart=always
User=root

[Install]
WantedBy=multi-user.target
